<article>
  <section class="page-title">
    <h1>Fale conosco!</h1>
  </section>
  <section class="page-content">
    <div class="contact-us-form">
      <div class="input">
        <input type="text" placeholder="Nome" />
      </div>
      <div class="input">
        <input type="text" placeholder="Sobrenome" />
      </div>
      <div class="input">
        <input type="email" placeholder="E-mail" />
      </div>
      <div class="input">
        <input type="tel" placeholder="Telefone" />
      </div>
    </div>
    <div class="confirm-form">
      <button>Enviar</button>
    </div>
  </section>
</article>